.App {
  text-align: center
}

.navigation { 
  position: fixed;
  z-index: 2;
  width: 100%
}

.navbar {
  padding: 20px;
}

.index {
  margin-top: 56px;
  position: absolute;
  width: 100%;
}

.jumbotron {
  height: 200px;
  text-align: center;
  padding-top: 70px;
  color: aliceblue;
  background-color: rgb(184, 187, 187);
}

@media (max-width: 576px)  {
  .jumbotron {
    padding-top: 60px;
  }
}

